main {
  text-align: center;
<<<<<<< HEAD
  margin: auto;
  margin-top: 15%;
  width: 90%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: lighter;
  font-size: 2.5em;
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

h2 {
  font-weight: lighter;
  font-size: 1.5em;
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-bottom: 15px; 
}

h3 {
  font-weight: 100;
  text-transform: uppercase;
}

p {
  padding-bottom: 15px;
}


=======
  margin-left: 8%;
  margin-top: 15%;
  width: 90%;
}

>>>>>>> andreas
main > p {
  text-align: left;
}

.person {
  height: auto;
  display: flex;
  margin-left: 2%;
}

.person, p, h3 {
  flex-direction: column;
}

.row {
    display: flex;
}

.worker {
  width: 40%;
  margin: auto;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
<<<<<<< HEAD


=======
<<<<<<< HEAD:styles/about.css
=======
>>>>>>> andreas

@media (max-width: 574px){
    
main {
    text-align: center;
    margin-top: 15%;
    width: 84%;
    margin-left: 8%;
}

main > p {
  text-align: left;
}

.row {
  flex-direction: column;
}

.person {
    margin: 15px;
    width: 100%;
}
    
}
<<<<<<< HEAD

=======
>>>>>>> Joakim:about.css
>>>>>>> andreas
