main {
  margin: auto;
  width: 100%;
  font-family: 'Josefin Sans';
  letter-spacing: 0.3em;
  font-weight: 300;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 15%
}

.form > p {
    margin-bottom: 15%;
}

input {
  border: none;
  outline: none;
  background: none;
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
  width: 30%;
}

textarea {
  border: solid;
  outline: none;
  background: none;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 30px;
  color: white;
  width: 200px;
  height: 40px;
  box-shadow: none;
  font-size: 15px;
  cursor: pointer;
  background-color: #333;
}

.map {
  text-align:center;
  width:100%;
  margin-bottom: 10%;
}

iframe {
  width: 60%;
}

@media (max-width:575px) {

  iframe {
    width: 100%;
  }

}
/*#################################################
                    FOOTER CSS
#################################################*/
body {
  margin: 0;
}
footer .container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-around;
  width:100%;
  height:20em;
  background-color: #231f1f;
  color: white;
  font-family:"josefin sans", sans-serif !important;
  padding: 2em;
  margin:0!important;
  width:100% !important;
}
#contact_info{
  font-size:1.3em;
  flex:1 1 60%;
}
#contact_info p img{
  font-size:1.5em;
  margin-right: 1em;
}
#social_media{
  font-size:1em;
  flex: 1 1 40%;
}
#social_media p{
  font-size:2.5em;
  margin-right: 1em;
}
#social_media .wrapper{
  display:flex;
  justify-content:center;
}
footer a{
  align-items: center;
}
#brand_name{
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex:1 1 100%;
  font-size:0.8em;
  margin-top:3em;
  margin-right: 4em;
}

footer img{
  vertical-align:middle;
  height:1.5em;
  background-color:white;
  border-radius:100px;
}

footer a:link{
  text-decoration:none;
  color:white;
}
footer a:visited{
  text-decoration:none;
  color:white;
}
footer a:hover img {
  text-decoration:none;
  color:white;
  transform: scale(1.3) rotate(360deg);
  transition: 1s;
}
footer a:active{
  text-decoration:none;
  color:white;
}
@media (max-width:505px){
  footer .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:auto;
    background-color: #231f1f;
    color: white;
    font-family: "josefin sans", sans-serif;
    font-size:1em;
    padding:1em;
    margin:auto;
  }
  #contact_info{
    justify-content: center;
    flex: 1 0 100%;
    font-size:0.8em;
  }
  #social_media{
    justify-content:flex-end;
    flex: 1 0 100%;
    font-size: 0.8em;
  }
  #social_media p{
    font-size: 3em !important;
    margin-right: 1em;
  }
  #contact_info p img{
    font-size:1.8em;
    margin-right: 1em;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex: 1 0 100%;
    font-size: 0.7em;
    margin: 2em 1em;
  }
}
@media (max-width:575px) and (min-width:506px){
  footer .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:auto;
    background-color: #231f1f;
    color: white;
    font-family: "josefin sans", sans-serif;
    font-size:1em;
    padding:1em;
    margin:auto;

  }
  #contact_info{
    justify-content: center;
    flex: 1 0 50%;
    font-size:0.8em;
  }
  #social_media{
    justify-content:flex-end;
    flex: 1 0 50%;
    font-size:1em;
  }
  #social_media p{
    font-size:1.8em !important;
    margin-right: 1em;
  }
  #contact_info p img{
    font-size:1.3em;
    margin-right: 1em;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 0 100%;
    font-size:0.8em;
  }
}
@media (max-width: 767px) and (min-width: 576px){
  footer .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:100%;
    background-color: #231f1f;
    color: white;
    font-family: "josefin sans", sans-serif;
    font-size:1em;
    padding:2em;
    margin:auto;
  }
  #contact_info{
    justify-content: flex-start;
    flex: 1 0 50%;
    font-size:0.8em;
  }
  #social_media{
    justify-content: flex-end;
    flex: 1 0 40%;
    font-size:1em;
  }
  #social_media p{
    font-size:1.5em !important;
    margin-right: 1em;
  }
  #contact_info p img{
    font-size:1.5em!important;
    margin-right: 1em;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 0 100%;
    font-size:0.7em;
  }
}
/*#######################################
            NAVBAR CSS
#######################################*/
nav *{
    margin: 0;
    padding: 0;
    font-family: 'josefin sans', sans-serif;
}

.logo{
    margin-left: 3%;
    width: 4em;
    height: 2em;
}

.hamburger{
    width: 0;
    height: 0;
    padding: 0;
}

nav .container{
    width: 100%;
    background-color: #231f1f;
    padding:0;
}

 nav a{
    text-decoration: none;
    color: white;
}

.navbar{
    position: relative;
    display: flex;
    font-size: 2.28em;
    font-weight:300;
    margin-bottom:0!important;
}
nav ul{
  margin-bottom:0;
}

.navbar input{
    display: none;
    overflow:inherit;
}

.option{
    display: flex;
    width: 100%;
    list-style: none;
}

.option li{
    flex: 1 1 auto;
    flex-direction: row;
    text-align: center;
    padding:auto!important;
    margin:auto!important;
}

.option span:hover{
    color: grey;
    cursor:pointer;
    transition: color .7s;
}
.option a:hover {
  text-decoration: none;
}

.content{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
}

@media (max-width: 575px){

  .logo{
      position: absolute;
      top: 0;
      left: 0;
      width:88px;
      height: 78px;
      padding: 9px;
  }

    nav .container{
        position: relative;
        height: 80px;
    }

    .hamburgermenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
    }

    .hamburgermenu span{
        position: relative;
        background-color: white;
        width: 90%;
        height: 23%;
        left: 5%;
        right: 5%;

        top: 5%;
        bottom: 5%;

        margin-bottom: 10%;
        border-radius: 10px;

        z-index: 1;
        pointer-events: none;
    }

    .option{
        position: absolute;
        top: 0px;
        flex-direction: column;
    }

    .option input{
        position: absolute;
        display: block;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 60px;
        opacity: 0;

        z-index: 1;
    }

    .option li:hover{
        color: grey;
    }

    .option > li{
        position: relative;
        width: 100%;
        top: 80px;
        height: 40px;
        padding: 5px;
        background-color: #231f1f;
        display: none;
        border-top: solid white;
    }

    .option input:checked ~ li{
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
