.container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-around;
  width:80%;
  height:15em;
  background-color: gray;
  color: white;
  font-family: Inconsolata;
  padding:auto;
  margin:auto;
}
#contact_info{
  justify-content: flex-start;
}
#social_media{
  justify-content:flex-end;
}
#brand_name{
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex:1 1 100%;
}
span{
  color:white;
}
a:link{
  text-decoration:none;
  color:white;
}
a:visited{
  text-decoration:none;
  color:white;
}
a:hover{
  text-decoration:none;
  color:white;
}
a:active{
  text-decoration:none;
  color:white;
}
@media (max-width:575px){
  .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:80%;
    height:100%;
    background-color: gray;
    color: white;
    font-family: Helvetica Neue;
    font-size:1em;
    padding:2em;
    margin:auto;
  }
  #contact_info{
    justify-content: flex-start;
    flex: 1 0 50%;
  }
  #social_media{
    justify-content:flex-start;
    flex: 1 0 50%;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 1 100%;
  }
}
@media (max-width: 767px) and (min-width: 576px){
  .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:80%;
    height:100%;
    background-color: gray;
    color: white;
    font-family: Helvetica Neue;
    font-size:1em;
    padding:2em;
    margin:auto;
  }
  #contact_info{
    justify-content: flex-start;
    flex: 1 0 50%;
  }
  #social_media{
    justify-content:flex-start;
    flex: 1 0 50%;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 1 100%;
  }
}
