@media (min-width: 575px){

.container {
    font-family: "PT Sans Narrow", sans-serif;
    letter-spacing: .3em;
    text-align: center;
    margin-top: 15%;
    width: 90%;
    margin-left: 8%;
} 

.row {
    display: flex;
}

.product {
    margin: 15px;
    padding: 0px;
    flex: 1 1 auto;
}

.product > p {
    border-bottom: 1px solid grey;
    padding: 10px;
}


    
.product > img {
    width: 100%;
    transition: all 1s;
}

.product:hover > img{ 
    transform: scale(1.1);
    transition: 1s;
}

.product:hover > p {
        background-color: grey;
        transition: background-color 2s;
        color: white;
    }
    
    
    
}

@media (max-width: 574px){
    
.container {
    text-align: center;
    margin-top: 15%;
    width: 84%;
    margin-left: 8%;
}


.product {
    display: block;
    margin: 15px;
    flex: 1 1 auto;
    border-bottom: 1px solid grey
}

.product > img {
    width: 100%;
    transition: all 1s;
}
    
}