<<<<<<< HEAD



@media (min-width: 575px){

.container {
=======
@media (min-width: 575px){

.container {
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    letter-spacing: .2em;
>>>>>>> andreas
    text-align: center;
    margin-top: 15%;
    width: 90%;
    margin-left: 8%;
<<<<<<< HEAD
}
=======
} 
>>>>>>> andreas

.row {
    display: flex;
}

.product {
    margin: 15px;
<<<<<<< HEAD
    flex: 1 1 auto;
    border-bottom: 1px solid grey
}

=======
    padding: 0px;
    flex: 1 1 auto;
}

.product > p {
    border-bottom: 1px solid grey;
    padding: 10px;
}
 

    
>>>>>>> andreas
.product > img {
    width: 100%;
    transition: all 1s;
}

.product:hover > img{ 
    transform: scale(1.1);
    transition: 1s;
}
<<<<<<< HEAD
=======

.product:hover > p {
        background-color: grey;
        transition: background-color 2s;
        color: white;
    }
    
    
    
>>>>>>> andreas
}

@media (max-width: 574px){
    
.container {
    text-align: center;
    margin-top: 15%;
    width: 84%;
    margin-left: 8%;
}


.product {
    display: block;
    margin: 15px;
    flex: 1 1 auto;
    border-bottom: 1px solid grey
}

.product > img {
    width: 100%;
    transition: all 1s;
}
    
}