body{
  font-family: "josefin sans", sans-serif !important;
}
main .container{
  padding:0 !important;
  margin:0 !important;
  width:100% !important;
}
.jumbotron{
  width:100%;
  background-color:white !important;
  margin:0 !important;
  border-radius: 0px!important;
  padding:2em 3em!important;
}
p{
  font-size:1.3em!important;
  align-items:flex-end;
  text-align: justify;
}
h3{
  align-items:flex-end;
  text-align: justify;
}
#description h3{
  text-align:right;
}
button{
  padding:1em 2em;
  padding-top:1.3em;
  background-color:white;
  border-top:1px solid black !important;
  border-bottom: 1px solid black !important;
  border-left:none;
  border-right:none;
  color:black !important;
  margin-top:2em;
  transition: all 1s;
}
#description #cart{
  display:none;
  color: lightgray;
}
.product{
  display:flex;
  flex-direction: column;
}
#description{
  align-self: flex-end;
  padding-top:3em;
  padding-right:10%;
  padding-left:40%;
}
#picture{
  display:flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  padding:2em;
  border-bottom: 1px solid black;
}
#picture img{
  margin:none !important;
  width:100%;
  height:auto;
  transition: all 1s;
}
#picture:hover img {
  transform: scale(1.1);
  transition: 1s;
}

a:hover > button{
  background-color: grey;
  transition: 2s;
  color: white !important;
  text-decoration: underline;
}
a:link > button{

}
a:active > button{

}
a:visited > button{

}
.badge{
  font-size:0.5em !important;
  font-family: "josefin sans", sans-serif !important;
  background-color: lightgray !important;
  transition: all 1s;
  font-size:0.7em !important;
  font-weight:normal!important;
  color: black !important;
  padding-top: 1% !important;
  margin-bottom:0.3em;
  border-radius: none !important;
}
.badge:hover {
  background-color: grey !important;
  transition: 2s;
  color: white !important;
  text-decoration: underline;
}

/*#################################################
            PRODUC MEDIA QUERIES
#################################################*/

@media (max-width:505px) and (min-width:0px){
  p{
    font-size:1.3em!important;
    align-items:flex-end;
    text-align: justify;
  }
  h3{
    align-items:flex-end;
    text-align: justify;
  }
  #description h3{
    text-align:right;
  }
  button{
    display:none;
  }
  #description #cart{
    display:block;
  }
  a:hover > #cart{
    color: grey !important;
    transition: 2s;
  }
  .product{
    display:flex;
    flex-direction: column;
  }
  #description{
    align-self: flex-end;
    padding-top:3em;
    padding-right:10%;
    padding-left:0;
  }
  #picture{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    padding:2em;
    border-bottom: 1px solid black;
  }
  #picture img{
    margin:none !important;
    width:100%;
    height:auto;
  }

}
@media (max-width:575px) and (min-width:506px){
  p{
    font-size:1.3em!important;
    align-items:flex-end;
    text-align: justify;
  }
  h3{
    align-items:flex-end;
    text-align: justify;
  }
  #description h3{
    text-align:right;
  }
  #description #cart{
    display:none;
  }
  button{
    padding:1em 2em;
    padding-top:1.3em;
    background-color:white;
    border-top:1px solid black !important;
    border-bottom: 1px solid black !important;
    border-left:none;
    border-right:none;
    color:black !important;
    margin-top:2em;
    transition: all 1s;
  }
  .product{
    display:flex;
    flex-direction: column;
  }
  #description{
    align-self: flex-end;
    padding-top:3em;
    padding-right:10%;
    padding-left:10%;
  }
  #picture{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    padding:2em;
    border-bottom: 1px solid black;
  }
  #picture img{
    margin:none !important;
    width:100%;
    height:auto;
  }
}
@media (max-width: 767px) and (min-width: 576px){
  p{
    font-size:1.3em!important;
    align-items:flex-end;
    text-align: justify;
  }
  h3{
    align-items:flex-end;
    text-align: justify;
  }
  #description #cart{
    display:none;
  }
  #description h3{
    text-align:right;
  }
  button{
    padding:1em 2em;
    padding-top:1.3em;
    background-color:white;
    border-top:1px solid black !important;
    border-bottom: 1px solid black !important;
    border-left:none;
    border-right:none;
    color:black !important;
    margin-top:2em;
    transition: all 1s;
  }
  .product{
    display:flex;
    flex-direction: column;
  }
  #description{
    align-self: flex-end;
    padding-top:3em;
    padding-right:10%;
    padding-left:20%;
  }
  #picture{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    padding:2em;
    border-bottom: 1px solid black;
  }
  #picture img{
    margin:none !important;
    width:100%;
    height:auto;
  }
}
/*#################################################
                    FOOTER CSS
#################################################*/

footer .container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-around;
  width:100%;
  height:20em;
  background-color: gray;
  color: white;
  font-family:"josefin sans", sans-serif !important;
  font-weight:100;
  padding: 3em 5em;
  margin:auto;
}
#contact_info{
  justify-content: flex-start;
  font-size:1em;
  flex:1 1 60%;
}
#social_media{
  font-size:1.5em;
  flex: 1 1 40%;
}
#social_media .wrapper{
  display:flex;
  justify-content:space-around;
  align-items:center;
}
footer a{
  align-items: center;
}
#brand_name{
  display:flex;
  flex-direction:row;
  justify-content: center;
  flex:1 1 100%;
  font-size:0.8em;
  margin-top:4em;
}

footer img{
  vertical-align:middle;
  height:1.5em;
  background-color:white;
  border-radius:100px;
}

footer a:link{
  text-decoration:none;
  color:white;
}
footer a:visited{
  text-decoration:none;
  color:white;
}
footer a:hover img {
  text-decoration:none;
  color:white;
  transform: scale(1.3) rotate(360deg);
  transition: 1s;
}
footer a:active{
  text-decoration:none;
  color:white;
}
@media (max-width:505px){
  footer .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:auto;
    background-color: gray;
    color: white;
    font-family: "josefin sans", sans-serif;
    font-size:1em;
    padding:1em;
    margin:auto;
  }
  #contact_info{
    justify-content: center;
    flex: 1 0 100%;
    font-size:0.8em;
  }
  #social_media{
    justify-content:flex-end;
    flex: 1 0 100%;
    font-size:1.2em;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 0 100%;
    font-size:0.7em;
  }
}
@media (max-width:575px) and (min-width:506px){
  footer .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:auto;
    background-color: gray;
    color: white;
    font-family: "josefin sans", sans-serif;
    font-size:1em;
    padding:1em;
    margin:auto;

  }
  #contact_info{
    justify-content: center;
    flex: 1 0 50%;
    font-size:1em;
  }
  #social_media{
    justify-content:flex-end;
    flex: 1 0 50%;
    font-size:1.3em;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 0 100%;
    font-size:0.8em;
  }
}
@media (max-width: 767px) and (min-width: 576px){
  footer .container{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    height:100%;
    background-color: gray;
    color: white;
    font-family: "josefin sans", sans-serif;
    font-size:1em;
    padding:2em;
    margin:auto;
  }
  #contact_info{
    justify-content: flex-start;
    flex: 1 0 50%;
    font-size:0.8em;
  }
  #social_media{
    justify-content: flex-end;
    flex: 1 0 20%;
    font-size:1.3em;
  }
  #brand_name{
    display:flex;
    flex-direction:row;
    justify-content: center;
    flex:1 0 100%;
    font-size:0.7em;
  }
}
